body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    max-width: 768px;
    margin: auto;
}

.container {
    width: 100%;
    margin-bottom: 20px;
    border: none; /* 去掉容器边框 */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 10px;
    min-width: 300px;
}

.styled-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    width: 100%;
    border: 1px solid #ddd;
    padding: 2px;
}

.styled-table th, .styled-table td {
    padding: 6px 10px;
    border: 1px solid #ddd;
}

.styled-table th {
    background-color: #f4f4f4;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f4f4f4;
}

.chart {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: None;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.arc-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden; /* Prevent overflow */
}

.item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-div {
    margin-bottom: 5px;
    text-align: center;
}

.svg-div img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

.alt-div {
    margin-top: 5px;
    text-align: center;
}

.phase-div {
    background-color: #fff; /* Background color for visibility */
    padding: 2px 5px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.summary-textarea {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    resize: vertical; /* Allow vertical resizing */
}

.plot-container {
    width: 100%;
    height: 10px; /* Adjust as needed */
    margin-top: -10px; /* Adjust as needed */
        border: none; /* 去掉容器边框 */
}

.chart-container {
    width: 50%;
    height: 10px; /* Adjust as needed */
    border: none; /* 去掉容器边框 */
}

h1 {
    display: flex; /* 使用flex布局来水平排列文字和图片 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 水平间距平均分配 */
    padding-right: 10px; /* 给图片留出一些空间 */
    font-weight: bold; /* 加粗文本 */
    text-align: center; /* 居中文本 */
}

/* 为图片设置样式 */
.gs-logo {
    width: 60px ; /* 宽度自动，保持图片的宽高比 */
    height: 60px; /* 高度与h1标签一致 */
}

.arc-container {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.name-div, .alt-div {
    margin: 5px 0;
}

.phase-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
}

.phase-table th, .phase-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.phase-table th {
    background-color: #f2f2f2;
}

#textareaname {
    font-size: larger; /* 文字加大 */
    font-weight: bold; /* 文字加粗 */
    height: 1.5em; /* 只占一行的高度 */
    resize: none; /* 防止用户调整大小 */
    overflow: auto; /* 允许文本溢出时显示滚动条 */
    text-indent: 0; /* 从最左开始，不保留空格 */
}

.fire-records-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.fire-records-table th, .fire-records-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.fire-records-table th {
    background-color: #f2f2f2;
    text-align: left;
}
.fire-records-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.fire-records-table tr:hover {
    background-color: #ddd;
}