body {
    font-size: 1.7rem;
    margin: 1rem;
    padding: 0;
}

#overall{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    width: 100%;
    margin-bottom: 20px;
    border: none; /* 去掉容器边框 */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 10px;
    min-width: 300px;
}

.styled-table {
    border-collapse: separate;
    margin: 8px 0;
    font-size: 1.6rem;
    width: 98%;
    /*border: 1px solid #787878;*/
    padding: 2px;
    text-align: center;
}

/* 为表格的左上角和右上角设置圆角 */
.styled-table thead tr:first-child th:first-child,
.styled-table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px; /* 左上角圆角 */
}

.styled-table thead tr:first-child th:last-child,
.styled-table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px; /* 右上角圆角 */
}

/* 为表格的左下角和右下角设置圆角 */
.styled-table thead tr:last-child th:first-child,
.styled-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 左下角圆角 */
}

.styled-table thead tr:last-child th:last-child,
.styled-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 右下角圆角 */
}

/* 如果有tfoot，也可以为tfoot的单元格设置圆角 */
.styled-table tfoot tr:first-child td:first-child,
.styled-table tfoot tr:first-child th:first-child {
    border-bottom-left-radius: 10px;
}

.styled-table tfoot tr:first-child td:last-child,
.styled-table tfoot tr:first-child th:last-child {
    border-bottom-right-radius: 10px;
}

/* 确保其他单元格不显示圆角 */
.styled-table th, .styled-table td {
    border-radius: 0; /* 重置其他单元格的圆角 */
}

.status-icon {
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: middle;
}

.styled-table th, .styled-table td {
    padding: 1px 1px;
    border: 1px solid #d5d5d5;
}

.styled-table th {
    background-color: #bdbdbd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f4f4f4;
}

.chart {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: None;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 10px; /* Add this line to make the border rounded */
}

.item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-div {
    margin-bottom: 5px;
    text-align: center;
}

.alt-div {
    margin-top: 5px;
    text-align: center;
}

.phase-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ensure there is space above the phase table */
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.phase-table {
    margin-top: 20px;
    border-collapse: separate;
    width: 80%;
    font-size: 1.1rem;
}

.phase-table th, .phase-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.phase-table th {
    background-color: #bdbdbd;
}

.phase-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 为.phase-table的四个角设置圆角 */
.phase-table thead tr:first-child th:first-child,
.phase-table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px; /* 左上角圆角 */
}

.phase-table thead tr:first-child th:last-child,
.phase-table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px; /* 右上角圆角 */
}

.phase-table thead tr:last-child th:first-child,
.phase-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 左下角圆角 */
}

.phase-table thead tr:last-child th:last-child,
.phase-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 右下角圆角 */
}

.summary-textarea {
    width: 95%;
    height: auto; /* Adjust height as needed */
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-weight: bolder; /* 文字加粗 */
}

.plot-container {
    width: 100%;
    height: 0.01rem; /* Adjust as needed */
    margin-top: -1.05rem; /* Adjust as needed */
        border: none; /* 去掉容器边框 */
}

.chart-container {
    width: 100%;
    height: 0.01rem; /* Adjust as needed */
    border: none; /* 去掉容器边框 */
}

.gs-logo {
    /* Add your styles for the logo here */
    width: 5em; /* Adjust size as needed */
    height: 5em; /* Maintain aspect ratio */
    float: right;
    position: relative;
    top: -15px;
}

#currentDate {
    font-size: smaller;
    margin-left: 10px; /* Add some space between text and date */
}
h1 {
    margin: 1rem; /* Remove default margin */
    font-size: 1.5em; /* Adjust font size as needed */
}

.arc-container {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashed-line {
    border-top: 2px dashed #00dcc2;
    height: 0;
    position: absolute;
    width: 100%;
    top: 50%;
}

.item-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.item-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10px; /* Example fixed height, adjust as needed */
    margin: 3px 0; /* Margin-top and margin-bottom of 3px */
    font-size: 1rem;
}

.name-div {
    margin-top: 0;
    margin-bottom: auto; /* Pushes the element to the top */
}

.alt-div {
    margin-top: 0; /* Pushes the element to the bottom */
    margin-bottom: 0;
}

.svg-div {
    margin: 3px 0; /* Default margin for svg-div */
}

.svg-div img {
    width: 36px;
    height: 36px;
}

#textareaname {
    font-size: 0.9rem; /* 文字加大 */
    font-weight: bold; /* 文字加粗 */
    height: 1rem; /* 只占一行的高度 */
    resize: none; /* 防止用户调整大小 */
    overflow: auto; /* 允许文本溢出时显示滚动条 */
    text-indent: 0; /* 从最左开始，不保留空格 */
}

/*.fire-records-table {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*    margin: 0;*/
/*    font-size: 1.1rem;*/
/*}*/
/*.fire-records-table th, .fire-records-table td {*/
/*    border: 1px solid #ddd;*/
/*    padding: 8px;*/
/*}*/
/*.fire-records-table th {*/
/*    background-color: #f2f2f2;*/
/*    text-align: left;*/
/*}*/
/*.fire-records-table tr:nth-child(even) {*/
/*    background-color: #f9f9f9;*/
/*}*/
/*.fire-records-table tr:hover {*/
/*    background-color: #ddd;*/
/*}*/

/* 基础样式，从.fire-records-table继承 */
.fire-records-table {
    width: 100%;
    border-collapse: separate; /* 允许单独的边框，以实现圆角效果 */
    margin: 0;
    font-size: 1.1rem;
}

.fire-records-table th, .fire-records-table td {
    padding: 8px;
    text-align: left; /* 默认文本对齐方式，可按需调整 */
    border: 1px solid #d5d5d5;
}

.fire-records-table th {
    background-color: #bdbdbd;
}

.fire-records-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.fire-records-table tr:hover {
    background-color: #ddd;
}

/* 为表格的左上角和右上角设置圆角 */
.fire-records-table thead tr:first-child th:first-child,
.fire-records-table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px; /* 左上角圆角 */
}

.fire-records-table thead tr:first-child th:last-child,
.fire-records-table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px; /* 右上角圆角 */
}

/* 为表格的左下角和右下角设置圆角 */
.fire-records-table thead tr:last-child th:first-child,
.fire-records-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 左下角圆角 */
}

.fire-records-table thead tr:last-child th:last-child,
.fire-records-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 右下角圆角 */
}

/* 如果有tfoot，也可以为tfoot的单元格设置圆角 */
.fire-records-table tfoot tr:first-child td:first-child,
.fire-records-table tfoot tr:first-child th:first-child {
    border-bottom-left-radius: 10px;
}

.fire-records-table tfoot tr:first-child td:last-child,
.fire-records-table tfoot tr:first-child th:last-child {
    border-bottom-right-radius: 10px;
}

/* 确保其他单元格不显示圆角 */
.fire-records-table th, .styled-table td {
    border-radius: 0; /* 重置其他单元格的圆角 */
}


/* Full-screen overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays on top of other elements */
    display: none; /* Initially hidden */
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loader-text {
  color: #00ffc4; /* 文字颜色，通常与背景形成对比 */
  font-size: 16px; /* 根据需要调整文字大小 */
  text-align: center; /* 文本居中对齐 */
  margin-top: 20px; /* 与加载动画的距离，根据需要调整 */
}

.loader::before, .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    border-color: #00ffc4;
    animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes prixClipFix {
    0% { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
    25% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
    50% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
    75% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
    100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
}

#subsystemTable td {
    padding: 1px; /* Remove padding from td */
    horiz-align: center;
}

.subsystem-chart-container {
    width: 1rem;
    height: 1rem; /* Adjust as needed */
    border: none; /* 去掉容器边框 */
}

h3 {
    margin-bottom: 2px;
    margin-top: 4px;
    font-size: 1.3rem;
}

h2{
    font-size: 1.5rem;
}

#dataForm{
    font-size: 1.4rem;
}

#companyChart{
    margin-right: 5rem;

}