<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script> <!-- Assuming both versions of echarts are the same, use one -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>
     <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>小蜘蛛日报生成程序</title>
</head>
<body>
    <div id="loaderOverlay" class="loader-overlay">
        <div class="loader"></div>
        <div class="loader-text">日报生成中...</div>
    </div>
    <div id="overall">
        <div class="header-container">
                            <img src="/static/svg/gslogo.png" class="gs-logo" alt="GS Logo">
            <h1>银河小蜘蛛星座飞控日报<span contenteditable="true" id="currentDate"></span>
            </h1>
            <textarea id="textareaname" style="font-size: larger; font-weight: normal; width: 40%; height: 1.4em; overflow: hidden; text-indent: 0; border: none">飞控值班人：
            </textarea>
        </div>
        <hr>

        <form id="dataForm">
            <label for="start">Start Time:</label>
            <input type="datetime-local" id="start" name="start" required>

            <label for="end">End Time:</label>
            <input type="datetime-local" id="end" name="end" required>

            <label for="satID">Satellite ID:</label>
            <div id="satIDCheckboxes">
                <!-- Checkboxes for satID will be generated here by JavaScript -->
            </div>

            <button type="button" id="submitButton">一键生成报告</button>
        </form>

        <div class="container" style="margin-bottom: 0;">
            <h2>今日飞控总结</h2>
                <div id="summaryTextarea1" class="summary-textarea" contenteditable="true"></div>
            <h3>
                飞控任务跟踪质量
                <br>
            <span style="font-size: 18px; margin-left: 10px; font-weight: normal;">(每行跟踪任务下方指示线为该轨次全程跟踪质量，颜色部分代表过境区间内该段:</span>
            <span style="background-color: grey; color: white; padding: 0 4px; margin-left: 5px; font-size: 16px; font-weight: normal">无遥测</span>
            <span style="background-color: red; color: white; padding: 0 4px; margin-left: 5px; font-size: 16px; font-weight: normal">遥控未锁定</span>
            <span style="background-color: green; color: white; padding: 0 4px; margin-left: 5px; font-size: 16px; font-weight: normal">遥测遥控锁定</span>
                <span style="font-size: 18px; margin-left: 10px; font-weight: normal">)</span>
            </h3>
            <table id="flightControlTable" class="styled-table">
                <thead>
                    <tr>
                        <th style="width: 10%;">卫星代号</th>
                        <th style="width: 13%;">任务计划</th>
                        <th style="width: 16%;">开始时间</th>
                        <th style="width: 23.5%;">跟踪测站</th>
                        <th style="width: 9.5%;">发令/上星</th>
                        <th style="width: 11%;">执行任务</th>
                        <th style="width: 17%;">备注</th>
    <!--                    <th class="track-quality">跟踪质量</th>-->
                    </tr>
                </thead>
                <tbody>
                    <!-- Flight Control rows will be appended here -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
    <!--                    <td class="track-quality"></td>-->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container" style="margin-bottom: 0px">
            <div class="row">
                <div class="column">
                    <div id="companyChart" class="chart"></div>
                </div>
                <div class="column">
                    <h3>轨控活动</h3>
                    <div id="fireRecordsTableContainer"></div>
                </div>
            </div>
                <div>
                    <h3>通信任务</h3>
                    <div id="gatewayTasksTableContainer">
                        <div class="column">
                            <table id="taskTable" class="styled-table"></table>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="column">
                    <h3>
                        卫星在轨告警情况
                        <span style="font-size: smaller; margin-left: 10px; font-weight: normal">(等级:</span>
                        <span style="background-color: #00a800; color: white; padding: 0 2px; margin-left: 0.2px; font-size: 0.7em; font-weight: normal">一般</span>
                        <span style="background-color: #f8b800; color: white; padding: 0 2px; margin-left: 0.2px; font-size: 0.7em; font-weight: normal">严重</span>
                        <span style="background-color: #f83800; color: white; padding: 0 2px; margin-left: 0.2px; font-size: 0.7em; font-weight: normal">关键</span>
                        <span style="background-color: #cd0020; color: white; padding: 0 2px; margin-left: 0.2px; font-size: 0.7em; font-weight: normal">致命</span>
                        <span style="font-size: smaller; margin-left: 10px; font-weight: normal">)</span>
                    </h3>
                    <table id="subsystemTable" class="styled-table">
                        <thead>
                            <tr>
                                <th>卫星代号</th>
                                <th>分系统</th>
                                <th>频率</th>
                                <th>级别</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Subsystem rows will be appended here -->
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <h3>02批6星复位情况</h3>
                    <div id="cumulativeResetChart" class="chart"></div>
                </div>
            </div>
        </div>



        <div style="margin-bottom: 20px">
            <h2>小蜘蛛星座态势</h2>
            <span style="font-size: 18px; margin-left: 10px;">(颜色提示:全绿色为卫星最后轨控正常结束，全红色为卫星最后轨控异常结束，全黑色黑色为星上当前无轨控任务，仅箭头绿色为星上存在未执行轨控任务。方向提示:上方箭头为升轨，下方箭头为降轨。)</span>
            <div id="satelliteContainer" class="arc-container">
            </div>
            <div id="phaseTableContainer" class="phase-container"></div>
            <button id="snapshotButton">一键下载飞控报告</button>
        </div>


        <script src="{{ url_for('static', filename='js/web_tool.js') }}"></script>
    </div>
</body>
</html>
