<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/d3.v7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script> <!-- Assuming both versions of echarts are the same, use one -->
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>Satellite Data</title>
</head>
<body>
    <div id="loaderOverlay" class="loader-overlay">
        <div class="loader"></div>
        <div class="loader-text">日报生成中...</div>
    </div>
    <div class="header-container">
        <h1>银河小蜘蛛星座飞控日报<span contenteditable="true" id="currentDate"></span>
        </h1>
        <textarea id="textareaname" style="font-size: larger; font-weight: bold; width: 30%; height: 1.5em; overflow: hidden; text-indent: 0; border: none">飞控值班人：
        </textarea>
        <img src="/static/svg/gslogo.png" class="gs-logo" alt="GS Logo">
    </div>
    <hr>

    <form id="dataForm">
        <label for="start">Start Time:</label>
        <input type="datetime-local" id="start" name="start" required>

        <label for="end">End Time:</label>
        <input type="datetime-local" id="end" name="end" required>

        <label for="satID">Satellite ID:</label>
        <div id="satIDCheckboxes">
            <!-- Checkboxes for satID will be generated here by JavaScript -->
        </div>

        <button type="button" id="submitButton">Submit</button>
    </form>

    <div class="container">
        <h2>今日飞控总结</h2>
            <div id="summaryTextarea1" class="summary-textarea" contenteditable="true"></div>
        <h3 style="margin-bottom: 0;">飞控任务跟踪质量</h3>
        <table id="flightControlTable" class="styled-table">
            <thead>
                <tr>
                    <th style="width: 10%;">卫星代号</th>
                    <th style="width: 13%;">任务计划</th>
                    <th style="width: 15%;">开始时间</th>
                    <th style="width: 20%;">跟踪测站</th>
                    <th style="width: 10%;">发令/上星</th>
                    <th style="width: 13%;">通信情况</th>
                    <th style="width: 12%;">文件巡检</th>
                    <th style="width: 7%;">备注</th>
<!--                    <th class="track-quality">跟踪质量</th>-->
                </tr>
            </thead>
            <tbody>
                <!-- Flight Control rows will be appended here -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
<!--                    <td class="track-quality"></td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="column">
                <div id="companyChart" class="chart"></div>
            </div>
            <div class="column">
                <h2>轨控活动</h2>
                <div id="fireRecordsTableContainer"></div>
            </div>
        </div>
            <div>
                <div id="gatewayTasksTableContainer">
                    <h2>通信任务</h2>
                    <div class="column">
                        <table id="taskTable" class="styled-table"></table>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="column">
                <h3>卫星在轨告警情况</h3>
                <table id="subsystemTable" class="styled-table">
                    <thead>
                        <tr>
                            <th>卫星代号</th>
                            <th>分系统</th>
                            <th>频率</th>
                            <th>级别</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Subsystem rows will be appended here -->
                    </tbody>
                </table>
            </div>
            <div class="column">
                <h3>02批6星复位情况</h3>
                <div id="cumulativeResetChart" class="chart"></div>
            </div>
        </div>
    </div>



    <div>
        <h2>小蜘蛛星座态势</h2>
        <div id="satelliteContainer" class="arc-container">
            <!-- SVGs will be appended here -->
        </div>
        <button id="snapshotButton">一键生成日报</button>
    </div>

    <script>
        const local_report_url = "{{ local_report_url }}";
        const local_trackquality_url = "{{ local_trackquality_url }}";
        const local_reset_url = "{{ local_reset_url }}";
        const local_fire_records = "{{ local_fire_records }}";
        const local_gateway_task = "{{ local_gateway_task }}";

    </script>

    <script src="{{ url_for('static', filename='js/web_tool.js') }}"></script>
</body>
</html>
